<div id="position-container">
  <div class="position-item" *ngFor="let position of positions">
    <div *ngIf="position.bg.indexOf('mp4') === -1" class="position-bg" [ngStyle]="{'background-image': 'url(' + position.bg + ')'}"></div>
    
    <video *ngIf="position.bg.indexOf('mp4') !== -1" class="position-bg pos-bg-video" autoplay muted loop style="object-fit: cover;">
      <source [src]="position.bg" type="video/mp4">
    </video>
    <div class="position-content">
      <div class="title">{{position.title}}</div>
      <div class="meta">
          <a class="company" [href]="position.url" target="_blank" >{{position.company}}</a>, 
          <a class="location" [href]="'https://maps.google.com/?q=' + position.location" target="_blank" >{{position.location}}</a>
      </div>
     
      
      <div class="period">{{position.period}}</div>
      <div class="product">
        <div class="front">
            Product:
            <ul>
              <li *ngFor="let product of position.products">{{product}}</li>
            </ul> 
        </div>
        <div class="bg"></div>
      </div>
      <ul>
        <li *ngFor="let line of position.detail" >{{line}}</li>
      </ul>
    </div>
  </div>
</div>