@import "../../globalstyle.scss";

#position-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.position-item:hover {
    .position-bg {
        filter: blur(15px);
    }
    .position-content {
        background-color: rgba(0,0,0,0.8);
    }
}
.position-item {
    margin: 2rem;
    height: 450px;
    position: relative;
    line-height: 2rem;
    overflow: hidden;

    .position-bg {
        width:100%;
        height:100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.9;
        filter: blur(1px);
        z-index: 0;
        transition: 0.5s;
    }
    .position-content {
        font-size: 110%;
        @media screen and (max-width:1500px){
            line-height: 1.8rem;
        }
        color: rgb(255, 255, 255);
        width: calc(100% - 6rem);
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        padding: 3rem;
        z-index: 1;
        line-height: 2rem;
        transition: 0.5s;
        a {
            color: rgb(177, 224, 170);
        }
    }
    ul {
        margin: 0;
    }
    .title {
        font-size:1.6rem;
        margin-bottom: 0.1rem;
    }

    .meta {
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .company {
        font-size: 1rem;
        font-style: italic;
    }

    .period {
        position: absolute;
        right: 5rem;
        top: 4rem;
    }
    .location {
        font-size: 0.85rem;
    }

    .product {
        margin: 0 1rem;
        width: 15rem;
        float: right;
        padding: 1rem;
        position: relative;
        border-left: 2px solid $PRIMARY_GREEN;

        li {
            font-size: 0.9rem;
        }
        
        .front {
            width:100%;
            height:100%;
            position: relative;
            z-index: 1;
        }
        
        .bg {
            top:0;
            left:0;
            z-index: 0;
            position: absolute;
            width:100%;
            height:100%;
            background: rgba(0,0,0,0.3);
        }
    }

}