<div id='header' *ngIf="loaded">
  <div>
    <div>
      <div id="header-title">
          <div *ngFor="let key of objectKeys(info)" >
            <ng-container [ngSwitch]="key">
              <i class="material-icons" *ngSwitchCase= "'email'">email</i>
              <i class="material-icons" *ngSwitchCase="'site'">web</i>
              <i class="material-icons" *ngSwitchCase="'phone'">phone</i>
              <i class="material-icons" *ngSwitchCase="'linkedin'">face</i>
            </ng-container>
            <ng-container [ngSwitch]="key">
                <section *ngSwitchCase="'name'" class="name">{{info[key]}}</section>
                <section *ngSwitchCase="'title'" class="title">{{info[key]}}</section>
                <a href="mailto: {{info[key]}}" *ngSwitchCase="'email'">{{info[key]}}</a>
                <a href="tel: {{info[key]}}" *ngSwitchCase="'phone'">{{info[key]}}</a>
                <a href="http://{{info[key]}}" target="_blank" *ngSwitchDefault>{{info[key]}}</a>
            </ng-container>
          </div>
      </div>
      <div id="header-icon-area">
        <img class = "site-icons"
          *ngFor = "let icon of icons"
          [src] = "icon.icon"
          matTooltip = "{{icon.title}}"
          matTooltipPosition = "left"
          (click) = "!icon.disabled && openIcon(icon.url)"
          [ngClass] = "{'disabled' : icon.disabled }"
        >
      </div>
    </div>
    <img id="photo" src="assets/photo.png" alt="">
  </div>
</div>
