@import "../app.component.scss";

#header {
    height: 15rem;
    width: calc(100% - 2rem);
    padding: 1rem;

    & > div {
        width: 100%;
        height: 100%;
        background-color: $PRIMARY_GREEN;
        display: flex;
        justify-content: space-between;
        position: relative;

        #photo {
            width: 600px;
            clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    #header-icon-area {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        width: 42px;
        height: 130%;
        top: -36px;
        right: 540px;
        transform: rotate(36deg);
        z-index: 2;
    }
    .site-icons {
        width: 42px;
        transition: 0.2s;
    }
    .site-icons:not(.disabled) {
        cursor: pointer;
    }
    .site-icons.disabled {
        filter: grayscale(100%);
        cursor: not-allowed;
    }
    .site-icons:not(.disabled):hover {
        transform: scale(1.5);
    }

    #header-title {
        .name {
            margin: 1rem 0;
        }

        .title {
            margin-bottom: 1rem;
        }

        padding: 1.5rem 3rem;
        color: white;
        height: calc(100% - 3rem);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;


        & > div:first-child {
            font-size: 2rem;
        }
        & > div:nth-child(2) {
            font-size: 1.5rem;
        }
        & > div:not(:first-child):not(:nth-child(2)) {
            font-size: 1rem;
        }
        & > div {
            display: flex;
            
            * {
                margin-right: 1rem;
            }
            
        }
    }
}