<div class="app-loading" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
    <span>Waiting for iFrame Ready Signal...</span>
</div>
<iframe [hidden]="isLoading" [src]='data.link | safe' frameborder="0" allowfullscreen></iframe>
