iframe {
    width: 100%;
    height: calc(100% - 0.5rem);
    border: 0;
    margin: 0;
    padding: 0;
}

.app-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}