@import "../globalstyle.scss";

.block {
  background: #eee;
  margin: 1rem;
  height: calc(100% - 4rem);
  width: calc(50% - 3rem);
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  
  .keen-slider {
    margin-top: 1rem;
    height: 360px;
    width: 100%;
    position: relative;
    .number-slide {
      display: flex;
      justify-content: center;
      img {
        object-fit: cover;
        height: 100%;
      }
    }

  }
}

.dual-view {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;



  #welcome-title {
    display: flex;
    align-items: center;
    height: 100px;
    min-height: 60px;

    img {
      height: 100%;
    }
  }

  section {
    font-size: 2rem;
    color: $FONT_GREY;
  }

  .paragraph {
    text-indent: 1.5rem;
    padding: 1rem 1rem;
    line-height: 1.8rem;
    transition: .3s;
    font-size: 1rem;
  }
  .paragraph:hover {
    transform: scale(1.05); 
  }

  #about-goal {
    font-size: 1rem;
    margin: 2rem;
    text-indent: 1.5rem;
    line-height: 1.8rem;
  }

  .arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  
  .arrow--left {
    left: 5px;
  }
  
  .arrow--right {
    left: auto;
    right: 5px;
  }
}