<div class="route-style">
  <div class="dual-view">
    <div class="block welcome">
      <div id="welcome-title">
        <img [src]="imgSrc" alt="">
        <section>Welcome</section>
      </div>
      <div class="paragraph" *ngFor="let paragraph of content.about">{{paragraph}}</div>
    </div>
    <div class="block" >
      <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide number-slide" *ngFor="let image of content.images" >
          <img src={{image.url}} alt=""/>
        </div>
        <svg
        [ngClass]="
          'arrow arrow--left ' + (currentSlide === 0 ? 'arrow--disabled' : '')
        "
        (click)="slider.prev()"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
        />
      </svg>
      <svg
        *ngIf="slider"
        [ngClass]="
          'arrow arrow--right ' +
          (slider.track.details.slides.length - 1 === currentSlide
            ? 'arrow--disabled'
            : '')
        "
        (click)="slider.next()"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
      </svg>
      </div>
      
      <!-- <slideshow [height]="'320px'"
        [autoPlay]="true"
        [showArrows]="true"
        [autoPlayInterval]="8000"
        [backgroundSize]="'contain'"
        [showDots]="true"
        [imageUrls]="content.images"
        [lazyLoad]="content.images?.length > 1"
        [autoPlayWaitForLazyLoad]="true">
      </slideshow> -->
      <div id="about-goal">{{content.goal}}</div>
    </div>
  </div>
</div>
