@import "../globalstyle.scss";
#exp-minion {
    @include minion-image;
    left: 2rem;
    bottom: 2rem;
    width: 100px;
}
#exp-tab-container {
    padding: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-color: $BACKGROUND_GREY_2;

   /* Style the tab */
    .tab {
        float: left;
        border: 1px solid #ccc;
        border-right: none;
        width: 8rem;
        height: 100%;
        background-color: $BACKGROUND_GREY;
    }

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        text-align: center;
        position: relative;
        
    }
    .tab button:before {
        content:".";
        height:100%;
        width: 100%;
        color: transparent;
        position:absolute;
        right: 0;
        top:0;
        background-color: $SECONDARY_GREEN;
        clip-path: polygon(100% 75%, 90% 100%, 100% 100%);
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current "tab button" class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tab-content {
        float: left;
        border: 1px solid #ccc;
        width: calc(100% - 8rem - 3px); // 3 px from 3 borders
        height: 100%;

        & > div {
            width:100%;
            height:100%;
            overflow: auto;
        }
    }
}
