<div class="route-style" style="position: relative">
    <img id="exp-minion" [src]="tabImg">
    <div id="exp-tab-container">
        <div class="tab">
            <button [class.active]="selectedTab === tab.position" (click)="onSwitchTab(tab.position)" class="tablinks">Position</button>
            <button [class.active]="selectedTab === tab.skill" (click)="onSwitchTab(tab.skill)" class="tablinks">Skill</button>
            <button [class.active]="selectedTab === tab.education" (click)="onSwitchTab(tab.education)" class="tablinks">Education</button>
        </div>
        <div class="tab-content">
            <div *ngIf="selectedTab === tab.position" [@fadeInOut]>
                <app-exp-position [positions]="positions"></app-exp-position>
            </div>
            <div *ngIf="selectedTab === tab.skill" [@fadeInOut]>
                <app-exp-skill [skills]="skills"></app-exp-skill>
            </div>
            <div *ngIf="selectedTab === tab.education" [@fadeInOut]>
                <app-exp-education [educations]="educations"></app-exp-education>
            </div>
        </div>
    </div>
</div>
