<img id="life-minion" src="../../assets/minions/minion3.gif">
<div id="life-container" class = "route-style">
    <app-life-hobby *ngFor="let hobby of areaOfInterest;let i = index" [hobby]="hobby" [index]="i"></app-life-hobby>
</div>
