<div class="work-item" (click)="openIframe(detail.link)">
  <div
    class="work-item-bg"
    [ngStyle]="
      detail.image.length
        ? { 'background-image': 'url(' + detail.image + ')' }
        : { 'background-color': 'gray', 'cursor': 'not-allowed' }
    "
  ></div>
  <div class="work-item-title">
    <span>{{ detail.title }}</span>
  </div>
  <span class="work-item-description">
    {{ detail.description }}
  </span>
</div>
