@import "../../globalstyle.scss";
.work-item {
    width: calc(18rem - 2rem);
    height: calc(100% - 2rem);
    overflow: hidden;
    position: relative;
    padding: 1rem;
    transition: .3s;
}

.work-item:hover {
    transform: scale(1.1); 
    .work-item-bg {
        box-shadow: 0 0 12px $SECONDARY_GREEN;
        filter: brightness(10%);
    }

    .work-item-title {
        top: 0.5rem;
        transform: translateY(0);

        span {
            background-size: 100% 100%;
        }

    }
}

.work-item-bg {
    filter: brightness(30%);
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    transition: .3s;
    cursor: pointer;
}


.work-item-title {
    position: absolute;
    width: calc(100% - 6rem);
    padding: 2rem;
    opacity: 0.9;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    transition: 0.5s;
    color:white;
    font-size: 1.1rem;
    text-decoration: none;
    pointer-events: none;

    span {
        /* linear-gradient take the entire div but transparent takes 100% - 2px */
        background-image: linear-gradient(transparent calc(100% - 2px),white);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size 1s;
    }
}





.work-item-description {
    position: absolute;
    width: calc(100% - 4rem);
    padding: 1rem;
    top: 400px;
    opacity: 0.5;
    transition: 0.8s;
    text-align: center;
    color:white;
    font-size: 0.8rem;
    pointer-events: none;
}

.work-item:hover .work-item-description {
    top: 70%;
    transform: translateY(-70%);
}