<div id="education-container">
  <div *ngFor="let edu of educations" style="position:relative">
    <div class="edu-bg" [ngStyle]="{'background-image': 'url(' + edu.img + ')'}"></div>
    <div class="edu-title">
        <a href="{{edu.url}}" target="_blank">{{edu.school}}</a>
        <div class="edu-degree">{{edu.degree}}</div>
    </div>
    <a class="edu-city" [href]="'https://maps.google.com/?q=' + edu.city" target="_blank" >{{edu.city}}</a>
    <div class="edu-description">{{edu.description}}</div>
    <div class="edu-classes-title">Courses Taken: </div>
    <table mat-table [dataSource]="edu.classes" class="mat-elevation-z8">
      <!-- Class Id Column -->
      <ng-container matColumnDef="id">
        <td mat-cell *matCellDef="let element"> {{element.substring(0, element.indexOf(":"))}} </td>
      </ng-container>
    
      <!-- Class Name Column -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element"> {{element.substring(element.indexOf(":")+1)}} </td>
      </ng-container>
    
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>