@import "../../globalstyle.scss";

#education-container{
    width:100%;
    height:100%;
    display: flex;
    position: relative;

    .edu-bg {
        position: absolute;
        top: 5rem;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .05;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    & > div {
        width: calc(100% - 2rem);
        height: calc(100% - 4rem);
        padding: 2rem;

        & > * {
            line-height: 1.3rem;
            margin-bottom: 0.3rem;
        }
    }

    .edu-title {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;

        & > *:first-child {
            font-size: 1.2rem;
        }
    }
    .edu-classes-title {
        margin-top: 1rem;
        margin-bottom: 0.8rem !important;
    }
    .edu-city {
        font-style: italic;
        font-size: 0.8rem;
    }
    .edu-description {
        margin-top: 0.3rem;
        font-size: 0.9rem;
        text-indent: 1.5rem;
    }
    .edu-degree {
        font-size: 0.9rem;
    }
    
    table {
        width: 100%;
        tr {
            td:first-child{
                padding-right: 10px;
            }
        }
    }
}