@import "../globalstyle.scss";

#work-container {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;

    /* flexbox way to only increase/decrease padding when resizing */
    app-work-item {
        flex: 0 0 25%;
        height: 15rem;
        display: flex;
        justify-content: center;
    }
    h3 {
        margin-left: 2rem;
        margin-top: 2rem;
        font-size: 200%;
        color: darken($PRIMARY_GREEN, 30%);
    }
}
