<div id="skill-container">
  <mat-accordion [multi]="true">
    <mat-expansion-panel
      *ngFor="let skill of skills;let i = index" 
      [expanded]="categoryOpened[i]" 
      (opened) = "openingCategory(i)"
      (closed) = "closingCategory(i)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{skill.title}}:
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-chip-list>
        <mat-chip *ngFor="let item of skill.items" (click)="openUrl(item)">{{item}}</mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>