@import "../../globalstyle.scss";

#skill-container {
    height: 100%;
    width: 100%;

    .mat-chip {
        font-weight: 400 !important;
    }

    mat-chip {
        cursor: pointer;
        transition: 0.3s;
    }
    mat-chip:hover {
        background-color: $PRIMARY_GREEN;
        color: white !important;
    }
}