@import "./globalstyle.scss";

#app-container {
    height: 100%;
    width: 100%;
    background-color: $BG_GREY;

    #app-route-select {
        margin: 0 1rem;
    }
    main {
        width: calc(100% - 2rem);
        height: calc(100% - 22rem);
        padding: 1rem;
    }

}