$BG_GREY : #eeeeee;
$PRIMARY_GREEN: #5cb18a;
$SECONDARY_GREEN: #60987e;
$FONT_GREY: #616060;
$CONTENT_GREY: #302474;
$BACKGROUND_GREY: #ececec;
$BACKGROUND_GREY_2: #f5f4f4;

.route-style {
    background-color: #fff;
    height: 100%;
    overflow: auto;
}

*::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
  background-color: $PRIMARY_GREEN;	
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.5, transparent), to(transparent));
}

@mixin minion-image {
    position: absolute;
    z-index: 3;
}