@import "../../globalstyle.scss";

.hobby-container {
    position: relative;
    padding: 2rem;
    margin: 1rem 2rem;
    height: 200px;
    box-shadow: 0 0 20px #888888;
    img {
        z-index: 2;
    }
    .override {
        justify-content: unset !important;

        & > div {
            margin-left: 2rem;
            margin-right: 0rem !important;
        }
    }
}

.hobby-container.inverse {
    background-color: $SECONDARY_GREEN;
    color:white;
}

.hobby-title {
    font-size: 1.8rem;
    text-decoration: underline;
    color: #1f40a7;
    padding-bottom: 1rem;
}

.hobby-content {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 1rem;

    section {
        text-indent: 2rem;
        line-height: 1.5rem;
    }

    & > img {
        flex-grow: 0;
        height: 100%;
    }

    & > div {
        margin-right: 2rem;
    }

}