<div class="hobby-container" [ngClass]="{'inverse': index%2 !== 0 }">
  <div class="hobby-content" [ngClass]="{'override': index%2 !== 0 }">
    <div *ngIf="index%2 === 0">
      <div class="hobby-title">{{hobby.area}}</div>
      <section>{{hobby.description}}</section>
    </div>
    <img [src]="hobby.image">
    <div *ngIf="index%2 !== 0">
      <div class="hobby-title">{{hobby.area}}</div>
      <section>{{hobby.description}}</section>
    </div>
  </div>