@import "../globalstyle.scss";
#setup-minion {
    @include minion-image;
    bottom: 80px;
    right: 150px;
    width: 60px;
}
#setup-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 4rem);
    line-height: 1.5rem;

    & > div {
        padding: 1rem 2rem;
        width: calc(50% - 8rem);
        margin: 0 2rem;
        background-color: $SECONDARY_GREEN;
        color:white;
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 400;
    }
    *:not(h3){
        font-size: 0.9rem;
    }
    #setup-page-dependencies {
        height: calc(100% - 12rem);
        overflow: auto;
        width: 90%;
    
        margin: 1rem 0;
        ul {
            margin: 0;
        }
    }

    table {
        background: transparent;
        padding-right: 5rem;
        td {
            color: white;
            border-bottom-color: white;
        }
    }
    .mat-table {
        background: transparent;
    }
    .mat-row {
        height: auto;
        background:transparent;
    }

    .mat-cell {
        color: white;
        padding: 0.2rem 1rem;
        background:transparent;
    }
    .mat-cell {
        border: 0;
    }
}