<img id="setup-minion" src="../../assets/minions/minion5.png">
<div class = "route-style" id="setup-container">
    <div>
        <h3>Page Setup:</h3>
        <section>Version: {{versions.version}}</section>
        <section>Commit Id: {{versions.commitId}}</section>
        <section>Git Branch: {{versions.branch}}</section>
        <div id="setup-page-dependencies">
            <label>Dependencies:</label>
            <ul>
                <li *ngFor="let item of versions.dependencies"> {{item}}</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Server Setup:</h3>

        <table mat-table [dataSource]="setupObj.environments">
            <ng-container matColumnDef="key">
                <td mat-cell *matCellDef="let element"> {{element.substring(0, element.indexOf(":")+1)}} </td>
            </ng-container>
            
            <ng-container matColumnDef="value">
                <td mat-cell *matCellDef="let element"> {{element.substring(element.indexOf(":")+1)}} </td>
            </ng-container>
            
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
</div>
