
html {
    height: 100%;
    width: 100%;
}

body {
    height: calc(100% - 1px);
    width: 100%;
    min-width: 1366px;
    min-height: 768px;
    font-family: 'Roboto', sans-serif;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
